<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CommentMapper">
    <sql id="tableName">
        comment
    </sql>

    <sql id="baseColumn">
        id,nickname,email,content,avatar,create_time,ip,is_admin_comment,is_published,blog_id,parent_comment_id,website,parent_comment_nickname,qq
    </sql>

</mapper>